@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  color: hsl(0, 0%, 8%);
}

p {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}

button {
  padding: 13px 20px;
  border-radius: 15px;
}

header {
  padding: 20px 15px;
}

.logo {
  float: left;
  width: 90%;
}

.menu {
  float: right;
  width: 10%;
}

nav {
  /* display: none; */
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  width: 200px;
}

.button__close {
  height: 1.5em;
  position: absolute;
  right: 20px;
}

.nav__link {
  padding-top: 30px;
}

nav a {
  display: block;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  padding: 10px;
}

.button__login {
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
  border: none;
  width: 100%;
}

.button__register {
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 41%);
  width: 100%;
}

article {
  max-width: 1000px;
  margin: auto;
}

.section__image {
  width: 100%;
}

.section__main {
  padding: 20px 15px;
  text-align: center;
}

.button__more {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border: none;
}

.attribution {
  clear: both;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* when the screen is more than 375px wide */
@media screen and (min-width: 375px) {
  .menu {
    display: none;
  }

  .section__image {
    content: url(images/image-hero-desktop.png);
    float: right;
    width: 40%;
    padding: 0 10px;
  }

  .section__main {
    width: 60%;
    padding: 0;
  }

  .section__client {
    width: 60%;
  }
}