body {
  margin: 0;
}

p {
  font-size: 18px;
  font-family: 'Epilogue', sans-serif;
}

header img {
  float: left;
}

header a {
  float: right;
}

nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}

nav a,
nav button {
  display: block;
}

.nav__close {
  text-align: right;
}

.nav__menu {
  display: none;
  padding: 0 1em;
}

.section__image img {
  width: 100%;
}

/* when the screen is more than 375px wide */
@media screen and (min-width: 375px) {
  header a {
    display: none;
  }

  nav {
    position: static;
    display: block;
    overflow: auto;
  }

  .nav__close {
    display: none;
  }

  .nav__link {
    float: left;
  }

  .nav__button {
    float: right;
  }

  .nav__button button {
    display: inline;
  }

  article {
    width: 90%;
    margin: auto;
    overflow: auto;
  }

  .section__image {
    float: right;
    width: 30%;
  }

  .section__image img {
    content: url(images/image-hero-desktop.png);
  }

  .section__main,
  .section__client {
    float: left;
    width: 65%;
  }

  footer {
    text-align: center;
  }
}